<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499572351135-c5sbuh19ds2noqd7qbqf84b8aktvlogt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499572351135-c5sbuh19ds2noqd7qbqf84b8aktvlogt</string>
	<key>API_KEY</key>
	<string>AIzaSyD5_8aBH32KMAJfbXb1xsswwRDDpaLAu64</string>
	<key>GCM_SENDER_ID</key>
	<string>499572351135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>josemi.ReproductorIOS</string>
	<key>PROJECT_ID</key>
	<string>reproductorios</string>
	<key>STORAGE_BUCKET</key>
	<string>reproductorios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499572351135:ios:4dcaf8a3bf84b0730982aa</string>
	<key>DATABASE_URL</key>
	<string>https://reproductorios.firebaseio.com</string>
</dict>
</plist>